<%- include("header") -%>

<div id="cover">
<form method="post" action="/">
  <div class="tb">
    <div class="td">
      <input type="text" placeholder="Enter City..." required name="city">
      </div>
    <div class="td" id="s-cover">
      <button type="submit">
        <span><i class="fas fa-search fa-4x"></i></span>
      </button>
    </div>
  </div>
</form>
</div>

  <%- include("footer") -%>
